html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: radial-gradient(circle at center,#000D6B80 , transparent),
    radial-gradient(ellipse at top,#9C19E0 , transparent),
    #1E3163;
    background-attachment: fixed;
    font-family: "Quicksand", sans-serif;
    z-index: 1;
}
body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
button {
    border: none;
    box-shadow: none;
}
/* --------------------------------------------------- BACKGROUND ANMATIONS --------------------------------------------------*/
.background_motion {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

}
.back_square {
    height: 2vw;
    width: 2vw;
    background-color: black;
    position: absolute;
    background-color: none;
    opacity: 0%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
@keyframes test-box {
    0% {
        top: 0;
        opacity: 0%;
        transform: scale(var(--scale)) rotate(0deg);
    }
    50% {
        opacity: 30%;
        transform: scale(var(--scale)) rotate(180deg);
    }
    100% {
        opacity: 0%;
        top: 85%;
        transform: scale(var(--scale)) rotate(360deg);
    }
    
}

/*--------------------------------------------------- HEADER ---------------------------------------------------*/
.homepage .header_container {
    grid-area: header;
    background-color: #00000080; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    backdrop-filter: blur(5px);
    z-index: 10;
    min-height: fit-content;

}
.header_container #nametag {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #EEEEEE;
    font-weight: 900;
    text-align: center;
    margin-top: 2vh;
}
.header_container .personal_links {
    display: flex;
    gap: 40px;
    margin-right: 20px;
}
.personal_links a {
    text-decoration: none;
    color: #EEEEEE;
    font-size: 3em;
    padding-top: 2vh;
}
.personal_links a:hover {
    cursor: pointer;
}

/*--------------------------------------------------- BODY ---------------------------------------------------*/
.homepage .flex_body {
    grid-area: flex_body;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    z-index: 3;

}
.about span {
    font-size: 50px;
    font-weight: 900;
}
.flex_body .about {
    color: white;
    height: fit-content;
    text-align: center;
    font-size: 30px;
    max-width: 50%;
    background-color: #00000068;
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.flex_body .portriat {
    height: fit-content;
    border-radius: 50%;
}
.portriat img {
    border-radius: 50%;
}

/*--------------------------------------------------- MENU BUTTONS/HOMPAGE LAYOUT ---------------------------------------------------*/
.homepage .menu_container {
    grid-area: menu_column;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu_container div {
    height: 100px;
    min-width: 200px;
    width: 22%;
    background-color: #E0FFFF10;
    backdrop-filter: blur(5px);
    border: solid #E0FFFF90;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: 1000;
}
.menu_container div:hover {
    cursor: pointer;
    background-color: #E0FFFF;
    color: #000000;
    transition: .5;
    
}

.homepage {
    /* visibility: hidden; */
    height: 100vh;
    opacity: 100%;
    transition: .5s;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10vh auto auto auto;
    grid-template-areas: 
    "header header header header"
    "flex_body flex_body flex_body flex_body"
    "flex_body flex_body flex_body flex_body"
    "flex_body flex_body flex_body flex_body";
}
.homepage.transition_out {
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}


/*--------------------------------------------------- PROJECT PAGE ---------------------------------------------------*/

.proj_page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    position: absolute;
    z-index: 4;
    top: var(--top_pos);
    visibility: hidden;
    transition: .5S;
    opacity: 0%;

}

.proj_page.show {
    top: 0;
    transition: 1s;
    visibility: visible;
    opacity: 100%;
}
.close_page {
    position: absolute;
    display: block;
    top: 25px;
    right: 25px;
    width: 200px;
    height: 75px;
    text-align: center;
    z-index: 5;
    background-color:  #836FFF;
    color: white;
    font-size: 20px;
    box-shadow: 1px 2px 0px .5px #FBF9F1;
    transition: .5s;
}

.close_page:hover {
    cursor: pointer;
    transform: translate(-5px, -5px);
    transition: .5s;
    box-shadow: 4px 4px 0px 3px #FBF9F1;
}
/*USED FOR SKILLS PAGE */
.page_title {
    width: 100%;
    text-align: center;
    padding: 50px;
    color: white;
    font-size: 50px;
    font-weight: 800;

}
.proj_page #proj_welcome {
    color: white;
    width: 80%;
    text-align: center;
}
.proj_page .project {
    border: solid white;
    width: 40%;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    background-color: #836FFF;
    box-shadow: 1px 2px 0px .5px #FBF9F1;
    min-width: 400px;
    margin: 20px;
    padding: 20px;
    transition: .5s;
}
.proj_page .project:hover {
    box-shadow: 1px 2px 0px .5px #FBF9F1;
    transform: translate(-5px, -5px);
    transition: .5s;
    box-shadow: 4px 4px 0px 3px #FBF9F1;

}
/*USED FOR SKILLS PAGE */
h2 {
    text-align: center;
    color: #FBF9F1;
    margin: 0;
    font-size: 30px;
    padding-bottom: 20px;
}
.project img {
    height: 15vw;
    min-height: 150px;
}
.project p {
    text-align:center;
    color: #FBF9F1;
    font-size: 20px;
}
.techstack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
    margin-top: 20px;
}
.techstack span{
    padding: 5px;
    border-radius: 10px;
    height: fit-content;
} 

/* ----------------------------------------------- PROJECT ICONS-------------------------------------------------------------*/

.techstack .django {
    background-color: #092E20;
    color: white;
    border: solid 2px white;
}
.techstack .html {
    background: linear-gradient(to right, #e34c26 0%, #e34c26 50%, #f06529 50%, #f06529 100% );
    color: #ebebeb;
    border: solid 2px #e34c26;
}
.techstack .css {
    background: linear-gradient(to right, #264de4 0%, #264de4 50%, #2965f1 50%, #2965f1 100% );
    color: #ebebeb;
    border: solid 2px #264de4;
}
.techstack .python {
    background: linear-gradient(to right, #4584b6 0%, #4584b6 50%, #ffde57 50%, #ffde57 100% );
    color: #646464;
    border: solid 2px #4584b6;
}
.techstack .openai {
    background-color: #34A853;
    color: white;
    border: solid 2px #1A73E8
}

.techstack .php {
    background-color: #8993be;
    color: black;
    text-shadow: 1px 1px 0 white;
    border: solid 2px #484C89;
}
.techstack .javas {
    background-color: #f0db4f;
    color: #323330;
    border: solid 2px #323330;
}

.techstack .itunes {
    background: linear-gradient(to  bottom right, #fa57c1 , #b166cc , #7572ff, #69a6f9);
    color: white;
    border: solid 2px white;

}
.techstack .aws {
    background-color: #f2f2f2;
    color: #232f3e;
    border: solid 2px #ff9900;
}
.techstack .csharp {
    background: linear-gradient(to bottom right, #9b4993 0%, #9b4993 33%, #823085 33%, #823085 66%, #682876 66%, #682876 100%);
    color: #ffffff;
}
.techstack .unity {
    background: linear-gradient(to bottom right, #959595 0%, #959595 33%, #626262 33%, #626262 66%, #000000 66%, #000000 100%);
    color: #ffffff;
}
.img_container {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 3.5em;
    height: fit-content;
}
.img_container a {
    position:absolute;
    color: #f5f5f5;
    left: 0%;
    top: 20%;
    opacity: 0%;
    background-color: #6e5494;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    transition: .5s;
}
.img_container a.show {
    opacity: 100%;
    transition: .5s;
    transform: translateX(20px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 50%);
}

/*---------------------------------------------------SKILLS PAGE---------------------------------------------------*/
.skills_page {
    position: absolute;
    top: 0;
    height: fit-content;
    min-height: 100%;
    width: 100%;
    z-index: 8;
    visibility: hidden;
}
.skills_page.show {
    visibility: visible;
    opacity: 100%;
    transition: .5s
}
.skills_page .page_title {
    height: fit-content;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    padding-bottom: 50px;
}
.skills_content {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.skills_content .skill {
    width: 40%;
    text-align: center;
    min-width: 400px;
    background-color: #E0FFFF10;
    padding: 30px;
    backdrop-filter: blur(10px);
    border-radius: 10px;

}
.skill span {
    border: solid white;
    color: white;
    padding: 10px;
    margin-right: 5px;
    font-size: 20px;
}

/*--------------------------------------------------- VIEW FOR DIFFERENT PLATFORMS ---------------------------------------------------*/
@media (max-width: 1200px) {
    .homepage {
        grid-template-rows: 5vh auto auto auto;
    }
    .homepage .flex_body {
        flex-direction: column;
        font-size: 16px;
    }
    .flex_body .about {
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
    .menu_container div {
        min-width: 40%
    }
    .homepage .menu_container {
        padding-top: 100px;
    }
    .close_page {
        height: 50px;
        width: 100px;
        font-size: 16px;
        top: 5px;
    }
    .skills_content .skill {
        min-width: 90%;
    }
    .proj_page .project {
        width: 90%;
    }
}
@media (max-width: 650px) {
    .menu_container div {
        min-width: 100%
    }
}